
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="../images/p.jpg">
                </a>
            </div>
            <div class="content">

                <h6 class="category text-gray">CEO / Co-Founder</h6>
                <h4 class="card-title">Mr Syed Rafay Ahmed</h4>
                <p class="card-content">
                    <blockquote>
                <div class="text-info">
                    Thank You For Your Valuable Feedback!!
                </div>
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                <small>
                    Syed Rafay Ahemd 
                </small>
                </blockquote> 
                </p>
                <a href="#pablo" class="btn btn-primary btn-round">Thank You</a>
            </div>
        </div>
    </div>
</div>