@model FYP1.Models.Institute.Institute

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row" data-background-color="green">
            <div class="col-md-6" style="float:right">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title"><b>Sign In</b></h4>
                        <p class="category"><b>as Institute</b></p>
                    </div>
                    <div class="card-content">
                        @using (Html.BeginForm())
                        {
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="name">Username</label>
                                        <input type="text" id="Email" name="Email" class="form-control py-2">
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-12 form-group">
                                        <label for="name">Password</label>
                                        <input type="password" id="Password" name="Password" class="form-control py-2">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="submit" value="Login" class="btn btn-danger" style="width:100%;">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <a href="@Url.Action("StudentLogin","Login")">login as student</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="@Url.Action("AdminLogin","Login")">login as admin</a>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





































