
<center>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h2>Confirmation</h2>
            </div>
            <div class="card-content table-responsive">
                <h3>Kindly wait for a while!</h3>
                <br /><hr />
                <h3>Dear User,</h3><br />
                <h4>Thank you for signing up, Kindly confirm your email.</h4>

            </div>
        </div>
    </div>
</center>


